.hero {
  background-image: url("../img/bg-html.png");
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: 48px;
}

.hero::before {
  position: absolute;
  content: "";
  top: 24px;
  right: 0;
  width: 55%;
  height: 800px;
  background-image: url("../img/hero-image.svg");
  background-repeat: no-repeat;
}

.hero::after {
  position: absolute;
  content: "";
  height: 200px;
  width: 100%;
  bottom: 0;
  background-color: $basic-dark;
  background-image: url("../img/bg-tags.svg");
  background-position: center;
  background-repeat: no-repeat;
  border-top: 2px solid $basik-violet;
}

.hero__title {
  z-index: 1;
  order: 2;
  margin: 0 0 0 -10px;
}

.hero__item {
  z-index: 1;
  order: 1;
  margin: 0;
  padding: 32px 0;
  padding-bottom: 16px;
  font-size: 32px;
  line-height: 48px;
  color: $basic-yellow;
}
