$basic-yellow: #f9dd79;
$basic-dark: #0b0c23;
$basick-light: #f2f2f2;
$dark-blue: #141530;
$basik-violet: #5053a8;
$dark-violet: #212349;
$shadow: #070716;
$button-hover: #f9e7a8;
$button-active: #b69e4b;
