.contacts {
  position: relative;

  @media (max-width: $min-desktop) {
    max-width: 50%;
  }

  @media (max-width: $min-tablet) {
    max-width: 100%;
  }
}

.contacts__link {
  position: relative;
  margin-right: 64px;
  padding-bottom: 10px;
  padding-top: 9px;
  font-weight: 500;
  text-decoration: none;
  background-repeat: no-repeat;
  background-position: left;
  color: inherit;
}
