.intro {
  background-color: $dark-blue;
  background-image: url("../img/pattern-lines.svg");
  background-repeat: repeat-y;
  background-position-x: center;
}

.container--intro {
  display: grid;
  position: relative;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "a a"
    "ui s";

    @media (max-width: $min-desktop) {
      grid-template-columns: 1fr;
      grid-template-areas:
    "a"
    "s";
    }
}

.intro__user-image {
  grid-area: ui;
  margin: 0;
  padding-top: 25px;

}

.intro__item {
  width: 540px;
  object-fit: cover;

  @media (max-width: $min-desktop) {
    display: none;
  }
}

.intro__about {
  grid-area: a;
  padding: 30px 250px 0 50px;

  @media (max-width: $min-desktop) {
    padding-right: 50px;
  }

  @media (max-width: $min-tablet) {
    padding: 30px 20px 0 20px;
  }
}

.intro__skills {
  margin-left: 20px;

  @media (max-width: $min-tablet) {
    margin-left: 0;
  }
}
