.my-works {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;

  @media (max-width: $min-desktop) {
    display: block;
    margin-bottom: 40px;
  }
}

.my-work {
  @media (max-width: $min-desktop) {
    margin-bottom: 40px;
  }
}

.my-work__title {
  display: inline-block;
  margin: 0 0 16px;
  font-size: 32px;
  line-height: 40px;
  font-weight: 500;

  @media (max-width: $min-tablet) {
    font-size: 26px;
    line-height: 36px;
  }
}

.my-work__description {
  margin: 0;
  padding: 20px 40px;
  text-align: left;
  @media (max-width: $min-desktop) {
    padding: 20px;
  }
}

.my-work__description--italic {
  font-style: italic;
}

.my-work__description--left {
  margin: 0;
  margin-top: auto;
}

.my-work__description--device {
  margin-top: 75px;

  @media (max-width: $min-tablet) {
    margin-top: 0;
  }
}

.my-work__link {
  display: inline-block;
  vertical-align: middle;
  margin: 20px 20px 30px;
}

.my-work__img {
  display: inline-block;
  margin: auto;
}

.my-work__img img {
  @media (max-width: $min-tablet) {
    display: none;
  }
}
