.title {
  font-size: 96px;
  line-height: 112px;
  font-weight: 500;

  @media (max-width: $min-desktop) {
    font-size: 56px;
    line-height: 72px;
  }

  @media (max-width: $min-tablet) {
    font-size: 36px;
    line-height: 46px;
  }
}

.title--other {
  margin: 0 0 100px;
  text-align: center;
  font-size: 72px;
  line-height: 88px;
  font-weight: 500;
  color: $basic-yellow;

  @media (max-width: $min-desktop) {
    font-size: 46px;
    line-height: 62px;
  }

  @media (max-width: $min-tablet) {
    font-size: 26px;
    line-height: 36px;
  }
}
